{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="profile-header">
        <img src="../static/img/USer.png" alt="User profile picture">
        <h1>Welcome, {{ user.username }}!</h1>
        <p>{{ user.email }}</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Scores</h5>
                    <ul class="list-group">
                        {% for score in user.scores %}
                        <li class="list-group-item">
                            Test Score :  <b> {{ score.score }} </b>
                        </li>
                        {% else %}
                        <li class="list-group-item">
                            No scores available.
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <a href="{{ url_for('route.instruction')}}" class="btn btn-start-quiz">Start Test</a>
        </div>
    </div>
</div>
{% endblock %}
